header {
    
    margin-top: -3rem;
    padding-top: 3rem;
    padding-bottom: .5rem;
    display: block;
}

h2{
    position: relative;
    top: 115px;
}

body {
    margin: 8px;
    padding: 0px;
    background: url(RPS.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-color: red;
    background-origin: content-box;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

div {
    display: block;
}


button {
    background-color: slateblue;
    padding: 2rem;
    margin: 1rem;
    border: .25rem solid slateblue;
    color: seashell;
    font-size: 2rem;\
    
}

button:hover {
    transform: scale(1.05);
}

.rock {
    position: relative;
    right: 120px;
    top: 250px;
}

.paper {
    position: relative;
    top: 250px;
    left: 20px;
}

.scissors {
    position: relative;
    top: 250px;
    left: 150px;
}

.info {
    position: relative;
    top: 250px;
    font-weight: bolder;
}

.scoreboard {
    position: relative;
    top: 250px;
    font-weight:bolder;
}